<h1>Editing Desidered Book</h1>

<%= render 'form', desidered_book: @desidered_book %>

<%= link_to 'Show', @desidered_book, class: "btn btn-default" %> |
<%= link_to 'Back', desidered_books_path, class: "btn btn-default" %>
