<footer class="footer">
  <small>
    BookKing WebSite 
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact a Developer", new_contact_path, class: "btn btn-link" %>
    </ul>
  </nav>
</footer>